<div class="sub-header">
    <div class="sub-header-left">
      <button id="backButton" class="sub-header-button">
        <img src="assets/arrow_left.svg" alt="<" class="back-arrow">
        Back
      </button>
    </div>
  
    <div class="steps-container">
      <div class="steps">
        <span class="step" id="step-1">Select journal</span>
        <img src="assets/arrow_right.svg" alt=">" class="step-arrow">
        <span class="step" id="step-2">Preview</span>
        <img src="assets/arrow_right.svg" alt=">" class="step-arrow">
        <span class="step" id="step-3">Login / Sign Up</span>
        <img src="assets/arrow_right.svg" alt=">" class="step-arrow">
        <span class="step" id="step-4">Checkout</span>
      </div>
    </div>
  
    <div class="sub-header-right">
      <button id="continueButton" class="btn btn-continue">Continue</button>
    </div>
  </div>
  